.u-section-1 .u-sheet-1 {
  min-height: 886px;
}

.u-section-1 .u-group-1 {
  width: 517px;
  min-height: 648px;
  height: auto;
  background-image: none;
  margin: 102px auto 60px 73px;
}

.u-section-1 .u-container-layout-1 {
  padding: 21px 30px;
}

.u-section-1 .u-text-1 {
  width: 306px;
  font-size: 1.875rem;
  margin: 29px auto 0;
}

.u-section-1 .u-text-2 {
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  font-size: 1.5rem;
  background-image: none;
  margin: 20px 66px 0 73px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 333px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-2 {
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    width: 306px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    margin-left: 23px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

.u-section-1 .u-text-2,
.u-section-1 .u-text-2:before,
.u-section-1 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

